@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

:root {
    --primary: #e63946;
    --secondary: #457b9d;
    --aqua: #a8dadc;
    --white: #f1faee;
    --dark-primary: #1d3557;
}

* { 
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.header, .footer {
    flex-wrap: wrap;
}

/* NAVBAR */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav .nav-title {
    color: var(--primary);
    font-size: 48px;
    font-weight: 900;
    text-transform: lowercase;
}

.nav .nav-link {
    display: flex;
    list-style-type: none;
    gap: 2em;
    flex: 0 0 400px;

    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 18px;

    padding: 0;
    margin: 0;
}

.nav-link-item a {
    color: var(--dark-primary);
    text-decoration: none;
}

/* FOOTER */

.footer {
    display: flex;
    flex-grow: 0;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    height: 5em;
}

/* MAIN CONTENT */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    gap: -5vw;

    margin: 50px;
}

.hero {
    max-width: 30em;
}

.hero > p {
    word-wrap: break-word;
}

.hero-img {
    max-width: 35vw;
    min-width: 500px;
}

.info, .quote {
    display: flex;
    height: 40vh;
}

.info { 
    justify-content: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-primary);
}

.sign-up {
    padding: 3vh;
}